kafka:
  repository: bitnami/kafka
  kraft:
    enabled: true

  controller:
    replicaCount: 1
    controllerOnly: false

  broker:
    replicaCount: 1

  listeners:
    client:
      protocol: PLAINTEXT
    controller:
      protocol: PLAINTEXT
    interbroker:
      protocol: PLAINTEXT
    external:
      protocol: PLAINTEXT

  persistence:
    enabled: false

  externalAccess:
    enabled: false