otel-collector:
  image:
    repository: otel/opentelemetry-collector-contrib

  mode: deployment
  
  config:
    receivers:
      otlp:
        protocols:
          grpc:
            endpoint: 0.0.0.0:4317
          http:
            endpoint: 0.0.0.0:55681

    processors:
      batch:

    exporters:
      otlp:
        endpoint: jaeger:4317
        tls:
          insecure: true

      otlphttp/loki:
        endpoint: http://loki:3100/otlp
        tls:
          insecure: true

      prometheus:
        endpoint: 0.0.0.0:8889

    service:
      pipelines:

        traces:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlp]

        logs:
          receivers: [otlp]
          processors: [batch]
          exporters: [otlphttp/loki]

        metrics:
          receivers: [otlp]
          processors: [batch]
          exporters: [prometheus]