kraft:
  enabled: true

replicaCount: 1

listeners:
  client:
    protocol: PLAINTEXT

auth:
  enabled: false

persistence:
  enabled: true
  size: 10Gi

resources:
  requests:
    cpu: 200m
    memory: 512Mi
