prometheus_client==0.24.1
python_json_logger==4.0.0
grpcio-tools
grpcio
aiohttp==3.13.3
dependency-injector==4.48.3
sqlalchemy==2.0.46
asyncpg==0.31.0
pydantic
pydantic_settings

opentelemetry-api==1.39.1
opentelemetry-sdk==1.39.1
pentelemetry-exporter-otlp-proto-grpc==1.39.1

# test requirements
black
isort
ruff
